@import url("https://use.fontawesome.com/releases/v5.9.0/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Roboto:wght@400;700&display=swap");


  body {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 26px;
  }

  h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 32px;
    line-height: 36px;
    color: #941b0c;
  }

  h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #bc3908;
  }

  img {
    border-radius: 50%;
    object-fit:fill;
    height: 30%;
    width: 50%;
  }

  .button {
    color: rgb(241, 241, 241);
    text-decoration: none;
    background-color: #941b0c;
    padding: 10px 20px;
    border-radius: 4px;
  }

  .button:hover {
    background-color: rgb(241, 241, 241);
    text-decoration: none;
    color: rgb(146, 28, 12);
  }

  li {
    list-style: none;
    display: inline;
  }

  .icon {
    color:rgba(146, 28, 12, 0.5);
    font-size: 36px;
    text-decoration: none;
    padding: 10px 10px;
    margin: 4px;
  }

  .icon:hover {
    color: rgb(146, 28, 12);
  }

  .card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 5px 7px rgb(201 201 201 / 36%);
    width: 50vw;
    margin: 50px auto;
    text-align: center;
    padding: 49px;
  }

  .card > i {
    color: #084c61;
    font-size: 40px;
  }


@media (max-width: 720px) {
  body {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 22px;
  }

  h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 28px;
    line-height: 30px;
    color: #941b0c;
  }

  h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #bc3908;
  }

  img {
    border-radius: 50%;
    object-fit:fill;
    height: 30%;
    width: 40%;
  }

  .button {
    color: rgb(241, 241, 241);
    text-decoration: none;
    background-color: #941b0c;
    padding: 10px 20px;
    border-radius: 4px;
  }

  .button:hover {
    background-color: rgb(241, 241, 241);
    text-decoration: none;
    color: rgb(146, 28, 12);
  }

  li {
    list-style: none;
    display: inline;
  }

  .icon {
    color:rgba(146, 28, 12, 0.5);
    font-size: 32px;
    text-decoration: none;
    padding: 10px 10px;
    margin: 4px;
  }

  .icon:hover {
    color: rgb(146, 28, 12);
  }

  .card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 5px 7px rgb(201 201 201 / 36%);
    width: 50vw;
    margin: 50px auto;
    text-align: center;
    padding: 49px;
}

  .card > i {
    color: #084c61;
    font-size: 36px;
  }
}

@media (max-width: 540px) {
  body {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 20px;
  }

  h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 26px;
    line-height: 26px;
    color: #941b0c;
  }

  h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #bc3908;
  }

  img {
    border-radius: 50%;
    object-fit: cover;
    height: 30%;
    width: 40%;
  }

  .button {
    color: rgb(241, 241, 241);
    text-decoration: none;
    background-color: #941b0c;
    padding: 10px 20px;
    border-radius: 4px;
  }

  .button:hover {
    background-color: rgb(241, 241, 241);
    text-decoration: none;
    color: rgb(146, 28, 12);
  }

  li {
    list-style: none;
    display: inline;
  }

  .icon {
    color:rgba(146, 28, 12, 0.5);
    font-size: 32px;
    text-decoration: none;
    padding: 10px 10px;
    margin: 4px;
  }

  .icon:hover {
    color: rgb(146, 28, 12);
  }

  .card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 5px 7px rgb(201 201 201 / 36%);
    width: 50vw;
    margin: 50px auto;
    text-align: center;
    padding: 49px;
  }

  .card > i {
    color: #084c61;
    font-size: 32px;
  }

  ul {
    padding:0 !important;
  }
}
